*{
    margin: 0px;
    padding: 0px;
}
.magazine-container{
    background-color: #ccc;
    padding-bottom: 10px;
}
.magazine{
    max-width: 1160px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
    width: 100%;
}
.magazine h3{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.magazine ul {
    display: flex; 
    justify-content: space-between;
    width: 100%;

}
.magazine ul li{
    width: 24%;
    list-style: none;
    border-radius: 5px;
    position: relative;
}
.magazine ul li span{
    position: absolute;
    padding: 10px;
    font-weight: bolder;
    margin: 0px auto;
    top:0;
    background-color: yellow;
    left: 38%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
        text-transform: uppercase;
        text-align: center;
    height: 25px;
}
.magazine ul li p{
    position: absolute;
    top: 300px;
    color: white;
    text-align: center;
    font-size:20px;

}
.magazine ul li img{
    object-fit: cover;
    width: 100%;
    height: 435px;
    border-radius:5px ;
}
@media only screen and (max-width : 835px) {
    .magazine ul li {
        width: 32%;
    }
    .magazine ul li:nth-child(4){
        display: none;
    }
    
}
@media only screen and (max-width : 666px) {
    .magazine ul li {
        width: 49%;
    }
    .magazine ul li:nth-child(4), .magazine ul li:nth-child(3){
        display: none;
    }
    
}
@media only screen and (max-width : 481px) {
    .magazine ul li {
        width: 100%;
    }
    .magazine ul li:nth-child(4), .magazine ul li:nth-child(3), 
    .magazine ul li:nth-child(2){
        display: none;
    }
    
}