*{
    margin: 0px;
    padding: 0px;
}
.header{
 width: 100%;
 background-color: #78b43d;
display: inline-block;
}

.header-content{
    width: 1004px;
    display: block;
    margin: 0 auto;
}
.logo{
    float: left;
}
.danhmuc{
    float: left;
    padding-left: 10px;
    padding-right: 5px; 
}
.danhmuc ul{
   
}
.danhmuc-li{
    list-style: none;
    text-align: center;
    
}
.danhmuc-img{
    padding-bottom: 9px;
    padding-top: 6px;
}
.danhmuc-a{
    font-size: 10px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    display: block;
}

.danhmuc li:hover .submenu {
    display: block;
    position: absolute;
}
.submenu {
   width: 200px;
   display: none;
}

.submenu li{
    list-style: none;
    text-decoration: none;
    display: block;
    background-color: #78b43d;
}
.submenu li p{
    line-height: 40px;
    text-indent: 10px;
    border-top: 1px solid green;
    text-align: left;
    color: black;
}
.menu{
    float: left;
    padding-left: 5px;
}
.menu-li:hover .submenu {
    display: block;
    position: absolute;
}
.menu ul{
    float: left;
}
.menu-li{
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 5px;
    position: relative;
}
.menu-li p{
    color: white;
    text-transform: uppercase;
    font-size:10px ;
}
.menu-li img{
    padding-bottom: 5px;
}
.cover-container{
    width: 1004px;
    display: block;
    margin: 0 auto;
}
.container{
    width: 699px;
    display: inline-block;
    padding-bottom: 30px ;
    float: left;
}
.block{
    width: 347px;
    display: inline-block;
    vertical-align: top;
}
.block h3{
    font-size: 16px;
    padding-bottom: 10px;
}
.block p{
    font-size: 14px;
    line-height: 1;
}
span{
    font-size: 10px;
    color: #777;
}
.video{
    padding-bottom: 10px;
}
.video-title {
    
        color: #78b43d;
        margin-bottom: 10px;
        font-size: 18px;
        border-bottom: 2px solid #78b43d;
        text-transform: uppercase;
    }
    .video-content {
        width: 100%;
        display: inline-block;
    }
.video-left{

    width: 400px;
       float: left;
       display: inline-block;
    padding-right: 12px;
    border-right: #d3d0d0 solid 1px;
}
.video-left img {
    width: 400px;
}
.video-left h4{
    font-size: 20px;    
    padding-bottom: 10px;

}
.video-left p {
}

.video-right{
    display: inline-block;
    width: 265px;
    padding-left: 12px;
}
.video-right ul{
    width: 100%;  
    display: inline-block;
  width: 277px;
  height: 369.03px;
  overflow: scroll;
}
.video-right ul li{
    display: inline-block;
    width: 100%;
    padding-bottom: 15px;
}

.video-right ul li img{
    width: 130px;
    height: 77px;
    float: left;
    padding-right: 10px;
}
.video-right ul li p{
    display: block;
    overflow: hidden;
}
.content-table{
    padding-bottom: 10px;


}
.table{
    border-right: #E7E7E7 solid 1px;
    border-bottom: #E7E7E7 solid 1px;
    display: inline-block;
    width: 223px;
 
}
.table ul{
    display: inline-block;  
    text-align: center;
    list-style: none;
}
.table ul li{
   font-size: 11px;
   padding: 5px 10px 2px 10px;

}

.content-full-left{
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.content-left-title{
    width: 100%;
}
.content-left-title img{
    width: 120px;
    height: 90px;
    float: left;
    padding: 0px 20px 0px 0px;
}
.content-left-title h3{
    font-size: 16px;
}
.content-left-title p{
    font-size: 14px;
    display: block;
    overflow: hidden;
}
.content-left-title span{
    font-size: 10px;
}
.content-full-left ul{
    padding: 10px;
    font-size: 14px;
    display: inline-block;
    float: left;
}
.content-left-title ul li{
    display: block;
    overflow: hidden;
}

.content{
    width: 100%;
    display: inline-block;
}
.content-right{
    display: block;
    overflow: hidden;
}
.list-content{
    font-size: 13px;
}
.list-content ul{
    padding-left: 20px;
}
.list-content ul li{
    padding-left: 5px;
    line-height: 1.5;
}
.content img{
    width: 100px;
    height: 100px;
    float: left;
    margin-right:20px ;
}
img.advertisement{
    width: 699px;
    height: 250px;
}

.container-right{
    width: 300px;
    float: right;
    display: inline-block;
}
.container-right h2{
    color: #78b43d;
    margin-bottom: 10px;
    font-size: 18px;
    border-bottom: 2px solid #78b43d;
    text-transform: uppercase;
}

.container-right{
    float: right;
    width: 300px;
}

.tttt{
    display: inline-block;
    width: 100%;
    margin-top:20px;
}
.tttt ul{
    width: 100%;
    display: inline-block;
}
.tttt ul li{
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
}
.tttt ul li img{
    width: 100px;
    height: 75px;
    float: left;
    margin-right: 20px;
}
.tttt ul li p{
    display: block;
    overflow: hidden;
    font-size: 14px;
}

.block-table{
    background: #fafafa;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    margin-bottom: 5px;
}
.ttck{
    padding-bottom: 10px;
}
.block-table ul{
    display: inline-block;
    list-style: none;
    padding-right: 16px;
    line-height: 1.8;
    font-size: 14px;
}
.ck ul{
    list-style: none;
    text-align: center;
}
.ck ul li{
        display: inline-block;
        padding-right: 25px;
        font-size: 16px;
        margin-bottom: 10px;
        color: #333;
    }
.pcdo{
    border: 1px solid #dde4ec;
}
.pcdo img{
    width: 100%;
    display: inline-block;
    margin-bottom: 25px;
}
.pcdo-content{
    padding-left: 20px;
    padding-bottom: 10px;
}
.pcdo-content ul li{
    line-height: 1.5;
    font-size: 14px;
}
.drcpd{
    border: 1px solid #dde4ec;
    background-color: #d2577e;
    border-radius: 8px 8px 0 0;
}
.drcpd h3{
    padding: 20px;
    text-align: center;
}

.drcpd-content ul{
    width: 100%;
    display: inline-block;
    padding-top: 10px;
}
.drcpd-content ul li{
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
}
.drcpd-content ul li img{
    width: 100px;
    height: 75px;
    float: left;
    margin-right: 15px;
    border-radius: 8px;
}
.drcpd-content ul li p{
    display: block;
    overflow: hidden;
    font-size: 14px;
}
.drcpd-content-container{
    background-color: white;
    padding-left: 10px;
}
.drcpd-contentUnder ul{
    padding-left: 15px;
    padding-bottom: 25px;
}
.drcpd-contentUnder ul li{
    font-size: 14px;
   
}
.ttdn{
    width: 1004px;
}
.ttdn h3{
    color: #ef7930;
}
.ttdn-container {
    background-color: #fff1d9;
    border-top: #ef7930 solid 2.5px;
}
.ttdn-container ul{
    display: inline-block;
    width: 100%;
    padding-left: 40px;
}

.ttdn-container ul li{
    display: inline-block;
    width: 200px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
}

.ttdn-container ul li img{
    float: left;
    padding-left: 5px;
    padding-right: 10px;
}

.ttdn-container ul li p{
   font-size: 13px;
}

.footer{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.footer1{
   background: #ebebeb;
    padding-top: 10px;
    display: inline-block;
    margin:0px;
    font-size: 14px;
    width: 100%;  
}
.footer1 ul{
    width: 1004px;
    display: block;
    margin: 0 auto;
}

.footer1 ul li{
    display: inline-block;
    width: 106px;   
    vertical-align: top;
    line-height: 20px;
    list-style: none;
    padding-right: 5px;
}
.footer1 ul li p{
    font-weight: 700;
}
.footer1 ul li ul{
    display: inline-block;
    width: 100%;
}

.footer2{
    background-color: #78b43d;
    text-align: center;
    
}
.footer2 ul {
 display: inline-block;
    width: 100%;
    padding: 5px 20px;
}
.footer2 ul li {
    display: inline-block;
    color: white;
    font-weight: 600;
}
.footer3{
    width: 1004px;
    display: block;
    margin: 0 auto;
    
}
.footer3 p{
    font-size: 13px;
    color: #7d7d7d;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
.footer3 ul{
    text-align: center;
    padding-bottom: 15px;
}
.footer3 ul li{
    display: inline-block;
}